*.js text eol=lf
*.cjs text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.snap text eol=lf
*.adoc text eol=lf
*.java text eol=lf
*.kts text eol=lf
*.kt text eol=lf
license-header/* eol=lf
licenses/* eol=lf
